<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Demo</title>
        <link rel="stylesheet" href="static/css/uikit.min.css">
    </head>
    <body>

        <div class="uk-container">
            <div class="uk-card uk-card-body uk-card-primary">
                <h3 class="uk-card-title">Example headline</h3>

                <button class="uk-button uk-button-default" uk-tooltip="title: Hello World">Hover</button>
            </div>
        </div>
        ${ self.bottom_script() }

<!--?        <script src="static/dist/admin/base.js"></script>-->
    </body>

</html>

<!-- 最后执行的脚本-->
<%def name="bottom_script()">
</%def>
